<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ReleaseCtrl">
  <!-- main -->
  <div class="col">
    <div class="wrapper-md">
      <h2 class="m-t-none text-black">{{release.title}}</h2>
      <p class="text-muted m-b-md">{{release.description}}</p>
      <div class="hbox hbox-auto-xs">
        <div class="col w-md">
       
            <div class="item">
              <div class="pos-rlt">
               
                <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                  <div class="center text-center m-t-n-lg w-full">
                    <a ng-click="addRelease($index)"><i class="fa fa-4x fa-play-circle-o text-white"></i></a>
                  </div>
                </div>
                
                <a ui-sref="music.release({id:release.id})"><img ng-src="{{serverURL}}/images/{{release.cover}}" alt="" class="img-full r r-2x"></a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="m-l-md">
          <span class="text">Artists:</span>
            <div class="clearfix m-b-xs">
              <a ng-repeat="artist in allArtists  | limitTo: 10" class="thumb-sm pull-left m-r-xxs m-b-xxs">
                <img ui-sref="music.artist({id:artist.id})" ng-src="{{serverURL}}/images/{{artist.avatar}}" class="img-circle">
              </a>
            </div>
             <div ng-if="allArtists.length> 10" class="clearfix m-b-xs">
                   <small class="block text-muted"> There are other artists in this release</small>
            </div> 
            <div class="m-b-xxs">
              <span class="text-muted">Label:</span>{{release.Labels[0].displayName}}
            </div>
            <div class="m-b-xxs">
              <span class="text-muted">Release Date:</span>{{release.releaseDate}}

            </div>
            <ngcart-addtocart id="'release-'{{release.id}}" name="asd" price="123" quantity="1.4" quantity-max="100" data="item"> </ngcart-addtocart>
             

            
              
          </div>
        </div>
      </div>
    </div>
<div class="wrapper-md">
<table class="table table-border bg-white-only b-a">
        <tbody>
          <tr class="bg-light lt">
            <td colspan="4"><h4>Tracklist</h4></td>
          </tr>
          <tr ng-repeat="track in release.Tracks">
            <td class="v-middle">
                <a class="">
                  <i class="icon-control-play text"></i>
                  <i class="icon-control-pause text-active"></i>
                </a>

            </td>
            <td> 
              <a ui-sref="music.track({id:track.id})"> <span ng-repeat="producer in track.Producer">{{producer.displayName}}{{$last ? '' : ', '}}</span> -
            {{track.title}}  </span>
              <br />
            <small>({{track.version}})</small></a> 
            </td>
            <td> 
            
                <span> {{ track.lengthInSeconds | secondsToTimeString }} / 125bpm </span> <br />
                 <span ng-repeat="genres in track.Genres">{{genres.name}}{{$last ? '' : ', '}}</span> 

            </td>


            <td class="v-middle" > 
              <div class="pull-right">
                <a class="m-r-sm"><i class="icon-heart"></i></a>
                <ngcart-addtocart id="'track-'{{track.id}}" name="asd" price="1.3" quantity="1" quantity-max="100" data="item"> </ngcart-addtocart>
              </div>
            </td>
          </tr>

          
 
        </tbody>
      </table>
      </div> 
   

  <!-- 
    <div class="padder-md m-b-lg">
      <h4 class="m-t-lg m-b">3 Comments</h4>
      <div>
        <div>
          <a class="pull-left thumb-sm">
            <img src="img/a0.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-info m-l-xs">Editor</label> 
              <span class="text-muted text-xs block m-t-xs">
                24 minutes ago
              </span>
            </div>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum.</div>
          </div>
        </div>

        <div class="m-l-xxl">
          <a class="pull-left thumb-sm">
            <img src="img/a1.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-dark m-l-xs">Admin</label> 
              <span class="text-muted text-xs block m-t-xs">
                26 minutes ago
              </span>
            </div>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
          </div>
        </div>

        <div>
          <a class="pull-left thumb-sm">
            <img src="img/a2.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-dark m-l-xs">Admin</label> 
              <span class="text-muted text-xs block m-t-xs">
                26 minutes ago
              </span>
            </div>
            <blockquote class="m-t">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
          </div>
        </div>

      </div>
      <h4 class="m-t-lg m-b">Leave a comment</h4>
      <form>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>Your name</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-sm-6">
            <label >Email</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <label>Comment</label>
          <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit comment</button>
        </div>
      </form>
    </div>

    -->
  </div>
  <!-- / main -->
  <!-- right col -->
  <div class="col w-md bg-light dker b-l bg-auto no-border-xs">    
    <div class="wrapper-md">      
      <div class="m-b-sm text-md">Similar Releases</div>
      <ul class="list-group no-bg no-borders pull-in">
        <li class="list-group-item">
          <a herf class="pull-left thumb-sm m-r">
            <img src="img/b1.jpg" alt="..." class="r">
          </a>
          <div class="clear">
            <div><a href>On the road</a></div>
            <small class="text-muted">by Chris Fox</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf class="pull-left thumb-sm m-r">
            <img src="img/b2.jpg" alt="..." class="r">
          </a>
          <div class="clear">
            <div><a href>Find a way</a></div>
            <small class="text-muted">by Lucy</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf class="pull-left thumb-sm m-r">
            <img src="img/b3.jpg" alt="..." class="r">
          </a>
          <div class="clear">
            <div><a href>Nothing to lose</a></div>
            <small class="text-muted">Joge Lucky</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf class="pull-left thumb-sm m-r">
            <img src="img/b4.jpg" alt="..." class="r">
          </a>
          <div class="clear">
            <div><a href>New day</a></div>
            <small class="text-muted">by Folisise Chosielie</small>
          </div>
        </li>
        <li class="list-group-item">
          <a herf class="pull-left thumb-sm m-r">
            <img src="img/b5.jpg" alt="..." class="r">
          </a>
          <div class="clear">
            <div><a href>Running</a></div>
            <small class="text-muted">by Aron Gonzalez</small>
          </div>
        </li>
      </ul>
      <div class="text-center">
        <hr />
      </div>
    </div>
    <!-- streamline -->
    <div class="text-md wrapper-md">Activity</div>
    <div class="list-group no-borders no-bg m-l-xs m-r-xs m-t-n">
      <div class="list-group-item">
        <div class="text-muted">5 minutes ago</div>
        <div><a href class="text-info">Jessi</a> commented your post.</div>
      </div>
      <div class="list-group-item">
        <div class="text-muted">11:30</div>
        <div><a ui-sref="music.detail">Jone</a> published a song</div>
      </div>
      <div class="list-group-item">
        <div class="text-muted">Sun, 11 Feb</div>
        <div><a href class="text-info">Jessi</a> upload a video <a href class="text-info">Cat</a>.</div>
      </div>
      <div class="list-group-item">
        <div class="text-muted">Thu, 17 Jan</div>
        <div>Mike Followed you</div>
      </div>
    </div>
    <!-- / streamline -->
  </div>
  <!-- / right col -->
</div>