<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AdminEditReleaseCtrl">
    <!-- main -->
    <div class="col">
        <div class="no-pad">
            <!-- breadcrumb -->
            <div>
                <ul class="breadcrumb bg-white col-md-12">
                    <li><a ui-sref="app.admincompany({id:company[0].id})">{{company[0].displayName}}</a></li>
                    <li><a ui-sref="app.adminlabel({id:release.Labels[0].id})">{{release.Labels[0].displayName}}</a></li>
                    <li> <a ui-sref="app.adminrelease({id:release.id})"> {{release.catalogNumber}} - {{release.title}}</a></li>
                    <li> Edit </li>
                </ul>
            </div>
        </div>
        <div class="padder-md">
            <div class="col-md-6">
                <h4>Edit Release </h4>
                <h2 class="m-t-none text-black">{{release.title}}</h2>
                <p class="text-muted m-b-md">{{release.description}}</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a ui-sref="app.admineditrelease({id:release.id})">
                        <button class="btn btn-danger">Save Changes Release</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="hbox hbox-auto-xs">
                <div class="col-md-3">
                    <div nv-file-drop="" uploader="uploader">
                        <div nv-file-over="" uploader="uploader" over-class="my-drop-zone-over-class" class="  my-drop-zone">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                        <div class="center text-center m-t-n-lg w-full">
                                            <div class="text-white"> Drag and drop
                                                <br />or
                                                <br />
                                                <label class="uploadAvatar">
                                                    <input type="file" nv-file-select="" uploader="uploader" />
                                                    <span class="btn m-b-xs   btn-dark btn-rounded">click to upload </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <a ui-sref="music.release({id:release.id})"><img ng-src="{{serverURL}}/images/{{release.cover}}" alt="" class="img-full r r-2x"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <input id="releaseTitle" name="releaseTitle" type="text" ng-model="release.title" value="{{release.title}}" placeholder="Release Title" class="form-control input-md-5 m-b-xs " stop-event>
                    <input id="releaseTitle" name="releaseTitle" type="text" ng-model="release.catalogNumber" value="{{release.catalogNumber}}" placeholder="Catalog Number" class="form-control input-md-5 m-b-xs" stop-event>

                    <input id="UPCNumber" name="UPCNumber" type="text" ng-model="release.UPC" value="{{release.UPC}}" placeholder="UPC/EIN Number" class="form-control input-md-5 m-b-xs" stop-event>

                    <p class="input-group">
                      <input placeholder="Release Date"  type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="release.releaseDate" is-open="opened" min-date="minDate"   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>


                        <input type="text" placeholder="Release Date" class="form-control input-md-5 m-b-xs" ng-click="openTimePicker($event)" datepicker-popup="{{format}}" ng-model="release.releaseDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" stop-event />
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="openTimePicker($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    Release Status: <br />
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-class=" " ng-model="release.isActive" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Active</button>
                        <button type="button" class="btn btn-primary" ng-class=" " ng-model="release.isActive" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true">Deactive</button>

                    </div>

                </div>

            </div>
        </div>
        <div class="wrapper-md">

                <div class="col-md-12">
                    <h2> 
                    Tracklist:
                    </h2> Deatached: {{deatachedList}}
                    <br />assigned: {{assignedList}}
                    <br /> dropZoneFiles: {{dropZoneFiles}}
                </div>
            <div class="col-md-12">
                <h4 class="m-t-none m-b">Tracklist <small>(drag to reorder)</small></h4>
                <ul html-sortable="sortableOptions" html-sortable-callback="sortableCallback" ng-model='release.Tracks' class="list-group gutter list-group-lg list-group-sp">
                    <li ng-repeat="track in release.Tracks" class=" ">
                        <!---   -->
                        <div ng-init="track.infoVisible = false" class="panel panel-info bg-light dker m-b-xs">
                            <div class="panel-heading">
                                <span class="pull-right">
                                  <a href><i ng-click="track.infoVisible = !track.infoVisible" class="fa fa-pencil fa-fw m-r-xs"></i></a>
                           
                                  <a href><i class="fa fa-times fa-fw"></i></a>                  
                                </span>
                                <span class="pull-left"><i class="fa  fa-arrows-v text-muted fa m-r-sm"> </i>  </span>
                                <div class="clear">
                                    <span ng-repeat="producer in track.Producer">{{producer.displayName}}{{$last ? '' : ', '}}  </span> - {{track.title}} ({{track.version}})
                                </div>
                            </div>
                            <div ng-show="track.infoVisible" class="  bg-white">
                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-envelope"></i> Inbox
                                </a>
                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-eye"></i> Profile visits
                                </a>
                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-phone"></i> Call
                                </a>
                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-comments-o"></i> Messages
                                </a>
                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-bookmark"></i> Bookmarks
                                </a>
                                <a href="" class="list-group-item">
                                    <i class="fa fa-fw fa-bell"></i> Notifications
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 
    <div class="padder-md m-b-lg">
      <h4 class="m-t-lg m-b">3 Comments</h4>
      <div>
        <div>
          <a class="pull-left thumb-sm">
            <img src="img/a0.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-info m-l-xs">Editor</label> 
              <span class="text-muted text-xs block m-t-xs">
                24 minutes ago
              </span>
            </div>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum.</div>
          </div>
        </div>

        <div class="m-l-xxl">
          <a class="pull-left thumb-sm">
            <img src="img/a1.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-dark m-l-xs">Admin</label> 
              <span class="text-muted text-xs block m-t-xs">
                26 minutes ago
              </span>
            </div>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
          </div>
        </div>

        <div>
          <a class="pull-left thumb-sm">
            <img src="img/a2.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-dark m-l-xs">Admin</label> 
              <span class="text-muted text-xs block m-t-xs">
                26 minutes ago
              </span>
            </div>
            <blockquote class="m-t">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
          </div>
        </div>

      </div>
      <h4 class="m-t-lg m-b">Leave a comment</h4>
      <form>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>Your name</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-sm-6">
            <label >Email</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <label>Comment</label>
          <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit comment</button>
        </div>
      </form>
    </div>

    -->
    </div>
</div>
