<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AdminlabelCtrl">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Admin Label - {{label.displayName}} </h1>
          <small class="text-muted">Add new release </small>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
      <!-- create new label -->
      <div class="row">
        <!-- GO TO DROPZONE -->
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="font-thin m-t-none m-b-none">Create new Release</h5>
            </div>
            <div class="panel-body b-b b-light">
              <button ui-sref="app.admincreaterelease({labelId:label.id})" class="btn btn-primary btn-addon btn-sm "><i class="fa fa-plus"></i>Add New Release Manually</button>
              <a ui-sref="app.dropzone({id:label.id})">
                <button class="btn btn-primary btn-addon btn-sm "><i class="fa fa-upload"></i>Upload files (and beatport packages)</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--  edit companies -->
      <div ng-if="releasesToProcess.success.length != 0" class="panel panel-default">
        <div class="panel-heading">Release to Process</div>
        <div class="panel-body">
          <button type="button" ng-click="processReleases()" class="col-md-12 btn btn-success btn-s">
            We have detected {{releasesToProcess.success.length}} releases to process. Click to proceed
          </button>
        </div>
      </div>
      <div ng-if="releasesToProcess.success.length != 0" class="panel panel-default">
        <div class="panel-heading">Incomplete Releaes </div>
        <div class="panel-body">
          <div ng-if="releasesToProcess.fail.length > 0">
            There
            <ng-pluralize count="releasesToProcess.fail.length" when="{'1': 'is 1 release that is missing files',
                     'other': 'are {} releases that are missing files'}">
            </ng-pluralize>
          </div>
        </div>
      </div>
      <!-- label list -->
      <div class="row">
        <div class="col-lg-4">
          <div class="panel panel-default">
            <label class="uploadLabel">
              <input type="file" nv-file-select="" uploader="uploader" />
              <span class="btn btn-sm btn-default text-muted m-t-sm m-l inline">
                                <i class="fa fa-cloud-upload text"></i>
                                <span class="text">Upload label logo</span>
              </span>
            </label>
            <div class="panel-body">
              <div class="clearfix text-center m-t">
                <div class="inline">
                  <div ui-refresh="loadedImage" ui-jq="easyPieChart" ui-options="{
                    percent: '{{loadedImage}}',
                    lineWidth: 5,
                    trackColor: '{{app.color.light}}',
                    barColor: '{{app.color.info}}',
                    scaleColor: false,
                    color: '{{app.color.dark}}',
                    size: 134,
                    lineCap: 'butt',
                    rotate: -90,
                    animate: 2000
                  }">
                    <div class="thumb-xl">
                      <img ng-src="{{label.logo}}" class="img-circle thumb-xl" alt="...">
                    </div>
                  </div>
                  <div class="h4 m-t m-b-xs">{{company.displayName}}</div>
                </div>
              </div>
            </div>
            <footer class="panel-footer bg-info text-center no-padder">
              <div class="row no-gutter">
                <div class="col-xs-4">
                  <div class="wrapper">
                    <span class="m-b-xs h3 block text-white">{{catalog.length}}</span>
                    <small class="text-muted">Releases</small>
                  </div>
                </div>
                <div class="col-xs-4  ">
                  <div class="wrapper">
                    <span class="m-b-xs h3 block text-white">4</span>
                    <small class="text-muted">Label Managers</small>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="wrapper">
                    <span class="m-b-xs h3 block text-white">142</span>
                    <small class="text-muted">Releases</small>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              <div class="row">
                <div class="col-lg-6"> Revenue Stream </div>
                <div class="col-lg-6">
                  <p class=" input-group">
                    <input placeholder="Release Date" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="release.releaseDate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="bg-light dker wrapper m-t-n-xxs">
              <span class="pull-right">Friday</span>
              <span class="h4">$540</span>
              <div class="text-center m-b-n m-t-sm">
                <div ui-jq="sparkline" ui-options="[50.32,45.23,47.56,36.25,53.85,40.15,41.25,50.15,57.14,36.15,97.26,50.15,45.32,47.19,37.75,25.15,56.34,50.35,47.25,53.15], {type:'line', height:65, width: '100%', lineWidth:2, valueSpots:{'0:':'#fff'}, lineColor:'#fff', spotColor:'#fff', fillColor:'', highlightLineColor:'#fff', spotRadius:3}"></div>
                <div ui-jq="sparkline" ui-options="[ 10,9,11,10,11,10,12,10,9,10,11,9,8 ], {type:'bar', height:45, barWidth:6, barSpacing:6, barColor:'{{app.color.primary}}'}" class="sparkline inline">loading...</div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4">
                  <small class="text-muted block">Year to Date</small>
                  <span>$1500.00</span>
                </div>
                <div class="col-xs-4">
                  <small class="text-muted block">Quarter to Date</small>
                  <span>$600.00</span>
                </div>
                <div class="col-xs-4">
                  <small class="text-muted block">Today</small>
                  <span>$400.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading   ">
              <h5 class="font-thin m-t-none m-b-none ">Catalog</h5>
            </div>
            <div class="panel-body b-b b-light">
              Search:
              <input id="filter" type="text" class="form-control input-sm w-sm inline m-r" />
            </div>
            <div>
              <table class="table m-b-none table-hover" ui-jq="footable" data-filter="#filter" data-page-size="12">
                <thead>
                  <tr>
                    <th>
                      Catalog Number
                    </th>
                    <th>
                      Release title
                    </th>
                    <th>
                      Active
                    </th>
                    <th>
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ui-sref="app.adminrelease({id:release.id})" ng-repeat="release in catalog">
                    <a ui-sref="app.adminrelease({id:release.id})">
                      <td class="v-middle">
                        <div href class="thumb-sm m-r">
                          <img ng-src="{{release.cover}}" class="r r-2x">
                        </div>
                        {{release.catalogNumber}}
                      </td>
                      <td class="v-middle">
                        {{release.title}}
                      </td>
                      <td class="v-middle">
                        <span ng-show="release.isActive" ng-click="currentLabel = null" class="label bg-success">
                                {{release.isActive}}
                            </span>
                        <span ng-show="!release.isActive" ng-click="currentLabel = null" class="label bg-dark">
                                {{release.isActive}}
                            </span>
                      </td>
                      <td class="v-middle">
                        <span ng-show="release.status == 'PROCESSING' " class="badge bg-warning">{{release.status}}</span>
                        <span ng-show="release.status == 'PROCESSING_FAILED' " class="badge bg-danger">{{release.status}}</span>
                        <span ng-show="release.status == 'PROCESSED' " class="badge bg-success">{{release.status}}</span>
                      </td>
                    </a>
                  </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                  <tr>
                    <td colspan="5" class="text-center">
                      <ul class="pagination"></ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div ng-show="currentLabel" class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="clearfix">
                <a href="" class="pull-left thumb-md avatar b-3x m-r">
                  <img ng-src="{{currentLabel.logo}}" alt="...">
                </a>
                <div class="clear">
                  <div class="h3 m-t-xs m-b-xs">
                    {{currentLabel.displayName}}
                    <label ng-click="dirtyChange = true; 
                                         currentCompany.isActive = !currentCompany.isActive;
                                         currentCompany.isActive == 0 ? deactivateCompany(currentCompany.id)  : activateCompany(currentCompany.id) " ng-class="{false:'btn-dark', true:'btn-success'}[currentCompany.isActive]" class="pull-right btn btn-sm btn-success ng-untouched ng-valid ng-dirty"><i class="fa fa-check text-active"></i> {{currentLabel.isActive == 0 ? "Deactive" : "Active"}}
                    </label>
                  </div>
                  Last Release 10 days ago
                </div>
              </div>
            </div>
            <div class="list-group no-radius alt">
              <a class="list-group-item " href="">
                <span class="badge bg-light">{{currentLabel.labelManagers.length}}</span> Label Managers
              </a>
              <a class="list-group-item" ng-repeat="labelManager in currentLabel.labelManagers">
                <span class="label bg-danger pull-right " ng-click="removeLabelManager(labelManager.LabelsUsers.UserId)" title="Delete">
                                    <i class="fa fa-times"/> Delete
                                </span> {{labelManager.displayName}}
              </a>
              <a class="list-group-item " href=""> 
                                Add new Owner
                            </a>
              <a class="list-group-item " href="">
                <input name="input" ng-model="searchUserField" ng-change="searchUser()" placeholder="User Display Name" class="form-control input-md">
                <p> Status:
                  <span ng-show="isSearching">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                        </span> {{searchUserResults.length}}
                  <span ng-show="searchUserResults.length == 1  && !isSearching"> 
                            <i class="fa fa-check"> This is a Valid User</i>
                        </span>
                  <span ng-show="searchUserResults.length == 0 && !isSearching"> 
                            <i class="fa fa-times"> No user available with this name</i>
                        </span>
                  <span ng-show="searchUserResults.length > 1 && !isSearching"> 
                            <i class="fa fa-times">There are {{searchUserResults.length}} users with this name</i>
                        </span>
                  <table ng-show="searchUserResults.length > 1 && !isSearching" class="table">
                    <thead>
                      <th> </th>
                      <th> Name </th>
                      <th> Action </th>
                    </thead>
                    <tbody ng-repeat="user in searchUserResults">
                      <tr>
                        <td>
                          <div href class="thumb-sm m-r">
                            <img ng-src="{{user.avatar}}" class="r r-2x">
                          </div>
                        </td>
                        <td>{{user.displayName}}</td>
                        <td>
                          <button ng-click="selectFromMultipleUsers(user)" class="btn btn-primary btn-xs">Add User</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <button ng-hide="showPanel" ng-click="addLabelManager()" ng-disabled="searchUserResults.length!=1 " class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Label Manager</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- / users -->
    </div>
  </div>
</div>