<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AdminEditReleaseCtrl">
    <!-- Button trigger modal -->
    <script type="text/ng-template" id="modalUploadDropbox">
        <div ng-include="'tpl/modal.uploadDropbox.html'"></div>
    </script>
    <script type="text/ng-template" id="modalSelectFromCDN">
        <div ng-include="'tpl/modal.selectFromCDN.html'"></div>
    </script>
    <!-- main -->
    <div class="col">
        <div class="no-pad">
            <!-- breadcrumb -->
            <div>
                <ul class="breadcrumb bg-white col-md-12">
                    <li><a ui-sref="app.admincompany({id:company[0].id})">{{company[0].displayName}}</a></li>
                    <li><a ui-sref="app.adminlabel({id:release.Labels[0].id})">{{release.Labels[0].displayName}}</a></li>
                    <li> <a ui-sref="app.adminrelease({id:release.id})"> {{release.catalogNumber}} - {{release.title}}</a></li>
                    <li> Edit </li>
                </ul>
            </div>
        </div>
        <div class="padder-md">
            <div class="col-md-6">
                <h4>Edit Release </h4>
                <h2 class="m-t-none text-black">{{release.title}}</h2>
                <p class="text-muted m-b-md">{{release.description}}</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button ng-click="saveRelease()" class="btn btn-danger">Save Changes Release</button>
                </div>
            </div>
        </div>
 
        <div class="wrapper-md">
            <div class="hbox hbox-auto-xs">
                <div class="col-md-3">
                    <div nv-file-drop="" uploader="uploader">
                        <div nv-file-over="" uploader="uploader" over-class="my-drop-zone-over-class" class="  my-drop-zone">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                        <div class="center text-center m-t-n-lg w-full">
                                            <div class="text-white"> Drag and drop
                                                <br />or
                                                <br />
                                                <label class="uploadAvatar">
                                                    <input type="file" nv-file-select="" uploader="uploader" />
                                                    <span class="btn m-b-xs   btn-dark btn-rounded">click to upload </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <a ui-sref="music.release({id:release.id})"><img ng-src="{{serverURL}}/images/{{release.cover}}" alt="" class="img-full r r-2x"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <input id="releaseTitle" name="releaseTitle" type="text" ng-model="release.title" value="{{release.title}}" placeholder="Release Title" class="form-control input-md-5 m-b-xs " stop-event>
                    <input id="releaseTitle" name="releaseTitle" type="text" ng-model="release.catalogNumber" value="{{release.catalogNumber}}" placeholder="Catalog Number" class="form-control input-md-5 m-b-xs" stop-event>
                    <input id="UPCNumber" name="UPCNumber" type="text" ng-model="release.UPC" value="{{release.UPC}}" placeholder="UPC/EIN Number" class="form-control input-md-5 m-b-xs" stop-event>
                    <p class="input-group">
                        <input placeholder="Release Date" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="release.releaseDate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    Release Status:
                    <br />
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-class=" " ng-model="release.isActive" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Active</button>
                        <button type="button" class="btn btn-primary" ng-class=" " ng-model="release.isActive" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true">Deactive</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="col-md-6">
                <!-- <h4 class="m-t-none m-b">Tracklist <small>(drag to reorder)</small></h4> Deatached: {{deatachedList}}
                <br />assigned: {{assignedList}}
                <br /> dropZoneFiles: {{dropZoneFiles}}
                 -->
            </div>
            <div class="col-md-12 m-b-lg">
                <button type="button" ng-click="addNewTrack()" class="col-md-12 btn btn-info btn-s">
                    Add New Track
                </button>
            </div>
            <div class="col-md-12">
                <ul html-sortable="sortableOptions" html-sortable-callback="sortableCallback" ng-model='release.Tracks' class="list-group gutter list-group-lg list-group-sp">
                    <li ng-repeat="track in release.Tracks" ng-init="track.isActive = true" class=" ">
                        <!---   -->
                        <div ng-init="track.infoVisible == null ? track.infoVisible = false : true" ng-class="{'panel-info' : track.isActive == true}" class="panel  bg-light dker m-b-xs">
                            <div class="panel-heading">
                                <span class="pull-right">
                                  <a href><i ng-click="track.infoVisible = !track.infoVisible" class="fa fa-pencil fa-fw m-r-xs"></i></a>
                           
                                  <a href ng-show="track.isActive" ng-click="removeTrack(track)"><i class="fa fa-times fa-fw"></i></a> 
                                  <a href ng-hide="track.isActive" ng-click="reactivateTrack(track)"><i class="fa fa-undo"></i>  </a>               
                                </span>
                                <span class="pull-left"><i class="fa  fa-arrows-v text-muted fa m-r-sm"> </i>  </span>
                                <div class="clear">
                                    <span ng-repeat="producer in track.Producer">{{producer.displayName}}{{$last ? '' : ', '}}  </span> - {{track.title}} ({{track.version}})
                                </div>
                            </div>
                            <div ng-show="track.infoVisible" class="  panel-body bg-white">
                                <div class="col-md-2 no-padder text-center ">
                                    <div ng-if="track.path != null">
                                        <i class="icon-check block m-b-xs fa-2x text-muted   b-light"></i> This track has a file associated.
                                        <br />
                                        <a href ng-click="deatach(track)">
                                            <span class="btn m-b-xs   btn-dark btn-rounded">Deatach </span>
                                        </a>
                                    </div>
                                    <span ng-if="track.path == null">
                                    {{track.path}}
                                    This track doesn't have an audio file associated. 
                                  

                                    <div  class="btn m-b-xs btn-dark btn-rounded"  ng-click="openUploadToDropbox(track) " >
                                        Upload Track
                                    </div>

                                    
                                    <!-- Button trigger modal -->
                                    <div class="btn m-b-xs btn-dark btn-rounded" ng-click="openSelectFromCDN(track) "  >
                                        Track from Dropzone
                                    </div>
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    Title:
                                    <input id="trackTitle " name="trackTitle " type="text " ng-model="track.title " value="{{track.title}} " placeholder="Track Title " class="form-control " stop-event> Version:
                                    <input id="trackTitle " name="trackVersion " type="text " ng-model="track.version " value="{{track.version}} " placeholder="Track Version " class="form-control " stop-event>
                                </div>
                                <div ng-init="track.searchArtist= ''; track.searchRemixer= '' " class="col-md-4 ">
                                    Artists:
                                    <br />
                                    <button ng-repeat="producer in track.Producer " class="btn m-xs btn-default btn-sm btn-addon">
                                        <i ng-click="deleteProducer(producer,track)" class="fa fa-times"></i>{{producer.displayName}}
                                    </button>
                                    <button ng-show="!track.showAddArtist" ng-init="track.showAddArtist = false" ng-click="track.showAddArtist = true" class="btn m-xs btn-sm btn-addon btn-default">
                                        <i class="fa fa-plus"></i>Add New
                                    </button>
                                    <div ng-show="track.showAddArtist" class="padder-sm input-group">
                                        <span class="input-group-btn">
                                        <button ng-click="addAsProducer(track,artist)" class="btn btn-default" type="button">  <i class="fa fa-check"></i>
                                        </button>
                                      </span>
                                        <input type="text" placeholder="Artist Name" ng-model="track.searchArtist" ng-change="searchArtist(track)" class="btn  btn-default btn-sm form-control">
                                        <span class="input-group-btn">
                                        <button ng-click="stopAddingNewArtist(track)" class="btn btn-default" type="button">
                                          <i class="fa fa-times"></i>
                                        </button>
                                      </span>
                                    </div>
                                    <table ng-show="track.showAddArtist && track.searchingArtist" class="table table-border padder-md  bg-white-only b-a">
                                        <tbody>
                                            <tr ng-show="!track.resultArrived" class="bg-light lt text-center">
                                                <td><i class="fa fa-spin fa-spinner "> </i></td>
                                            </tr>
                                            <tr ng-repeat="artist in track.artistResults" class="bg-light lt text-center">
                                                <td>
                                                    <a href ng-click="candidateArtist(track,artist)">  {{artist.displayName}}  </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br /> Remixers:
                                    <br />
                                    <button ng-repeat="remixer in track.Remixer " class="btn m-xs btn-default btn-sm btn-addon">
                                        <i ng-click="deleteRemixer(remixer,track)" class="fa fa-times"></i>{{remixer.displayName}}
                                    </button>
                                    <button ng-show="!track.showAddRemixer" ng-init="track.showAddRemixer = false" ng-click="track.showAddRemixer = true" class="btn m-xs btn-sm btn-addon btn-default">
                                        <i class="fa fa-plus"></i>Add New
                                    </button>
                                    <div ng-show="track.showAddRemixer" class="padder-sm input-group">
                                        <span class="input-group-btn">
                                        <button ng-click="addAsRemixer(track,remixer)" class="btn btn-default" type="button">  <i class="fa fa-check"></i>
                                        </button>
                                      </span>
                                        <input type="text" placeholder="Remixer Name" ng-model="track.searchRemixer" ng-change="searchRemixer(track)" class="btn  btn-default btn-sm form-control">
                                        <span class="input-group-btn">
                                        <button ng-click="stopAddingNewRemixer(track)" class="btn btn-default" type="button">
                                          <i class="fa fa-times"></i>
                                        </button>
                                      </span>
                                    </div>
                                    <table ng-show="track.showAddRemixer && track.searchingRemixer" class="table table-border padder-md  bg-white-only b-a">
                                        <tbody>
                                            <tr ng-show="!track.resultRemixerArrived" class="bg-light lt text-center">
                                                <td><i class="fa fa-spin fa-spinner "> </i></td>
                                            </tr>
                                            <tr ng-repeat="remixer in track.remixerResults" class="bg-light lt text-center">
                                                <td>
                                                    <a href ng-click="candidateRemixer(track,remixer)">  {{remixer.displayName}}  </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4 ">
                                    Genre:
                                    <br /> ISRC:
                                    <input id="trackTitle " name="trackTitle " type="text " ng-model="track.ISRC " value="{{track.ISRC}} " placeholder="Track ISRC " class="form-control " stop-event>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 
    <div class="padder-md m-b-lg">
      <h4 class="m-t-lg m-b">3 Comments</h4>
      <div>
        <div>
          <a class="pull-left thumb-sm">
            <img src="img/a0.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-info m-l-xs">Editor</label> 
              <span class="text-muted text-xs block m-t-xs">
                24 minutes ago
              </span>
            </div>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum.</div>
          </div>
        </div>

        <div class="m-l-xxl">
          <a class="pull-left thumb-sm">
            <img src="img/a1.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-dark m-l-xs">Admin</label> 
              <span class="text-muted text-xs block m-t-xs">
                26 minutes ago
              </span>
            </div>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
          </div>
        </div>

        <div>
          <a class="pull-left thumb-sm">
            <img src="img/a2.jpg" class="img-circle">
          </a>
          <div class="m-l-xxl m-b">
            <div>
              <a href><strong>John smith</strong></a>
              <label class="label bg-dark m-l-xs">Admin</label> 
              <span class="text-muted text-xs block m-t-xs">
                26 minutes ago
              </span>
            </div>
            <blockquote class="m-t">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
            <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
          </div>
        </div>

      </div>
      <h4 class="m-t-lg m-b">Leave a comment</h4>
      <form>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>Your name</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-sm-6">
            <label >Email</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <label>Comment</label>
          <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit comment</button>
        </div>
      </form>
    </div>

    -->
    </div>
</div>
