 
<!-- option with adding and removing the object from the cart  
<button class="btn btn-primary btn-addon">
        <a class="m-l-xs" ng-show="!inCart()"  ng-click="ngCart.addItem(id, name, price, q, data)"  >
            <i class="fa fa-plus text-white"></i> 
        </a>
        <a class="m-l-xs" ng-show="inCart()" ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">
            <i class="fa fa-minus text-white"></i> 
        </a>
        {{price}}
</button>
-->

 
  
<button class="btn btn-primary btn-addon">
        <a class="m-l-xs" ng-click="ngCart.addItemAndSaveToDB(id, name, price, q, data)"  >
            <i class="fa fa-plus text-white"></i> 
        </a>
        {{ngCart.getCurrencySymbol()}} 
     
             {{ngCart.getConvertedPrice(price,data,id)}}
         

</button>
