release_component{
	width: 100%;
	cursor: pointer; 
	cursor: hand;
	position: relative;
}
release_cover{
	top: 0px;
	width: 100%; 
	position: relative;
    height: 100%;
    display: block;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
release_cover img{
	z-index: 1;
	postion: absolute;
	width: 100%;
	height: 100%;
}

release_title {
	.fontTitle ();
	font-weight: 700;
	font-size: @font-size-release-title;
}

release_artists {
  .fontSubtitle ();
  display: inline-block;
  font-size: @font-size-release-artists;
  white-space: nowrap;
  width: 100%;                   
  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
  text-overflow: ellipsis;
  line-height: @font-size-release-artists+2;
}

release_label{
	.fontSubtitle ();
	font-size: @font-size-release-label; 
}
 
release_component:hover > release_title{
	color: @brand-primary;
}

overlay_controllers{
	z-index: 2;
    position: absolute;
    bottom: 2%;
    height: 20%;
    width: 100%; 
	background-color: @brand-primary;
}