.uploadLabel input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.blurEffect{
    background-size:cover;
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
    position:absolute;
    width:100%;
    height:100%;
  }