.uploadLabel input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.waveform canvas{
	width: 100%;
}

label.uploadAvatar input[type="file"] {
    position: fixed;
    top: -1000px;
}

.modal {
	background-color: rgba(40,50,60,0.94);
}