<div class="container">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Select From Dropzone</h4>
                </div>
                <div class="modal-body">
                    <input id="" name="" type="text" ng-model="searchFile" placeholder="Search File Name" class="form-control input-md-5" stop-event>
                    <hr /> {{selectFileFromDropZone}}
                    <ul ng-init="selectItem = null" class="list-group">

                        <li ng-click="$parent.selectFileFromDropZone = file" ng-class="{'active': $parent.selectFileFromDropZone == file}" ng-repeat="file in dropZoneFiles | orderBy : file.fileName  | filter:searchFile  " class="list-group-item">
                            {{file.fileName}}.{{file.extension}}
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Exit without updating</button>
                    <button ng-if="selectFileFromDropZone" ng-click="assignDropZoneFileToTrack(selectTrackToChangeFile)" type="button" data-dismiss="modal" class="btn btn-primary">Ok,you still need to save later</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading"><a href="#/adminLabel/{{labelId}}">Label</a> >> Release</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div ng-show="uploader.isHTML5">
                        <div nv-file-drop="" uploader="uploader">
                            <div nv-file-over="" uploader="uploader" style="background-image: url('{{serverURL}}/images/{{release.cover}}')" over-class="my-drop-zone-over-class" class="well my-drop-zone">
                                <div class="dragAndDropProfilePictureButton"> Drag and drop
                                    <br />or
                                    <br />
                                    <label class="myLabel">
                                        <input type="file" nv-file-select="" uploader="uploader" />
                                        <span>Upload</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <input id="releaseTitle" name="releaseTitle" type="text" ng-model="release.title" value="{{release.title}}" placeholder="Release Title" class="form-control input-md-5" stop-event>
                    <input id="releaseTitle" name="releaseTitle" type="text" ng-model="release.catalogNumber" value="{{release.catalogNumber}}" placeholder="Catalog Number" class="form-control input-md-5" stop-event>

                    <input id="UPCNumber" name="UPCNumber" type="text" ng-model="release.UPC" value="{{release.UPC}}" placeholder="UPC/EIN Number" class="form-control input-md-5" stop-event>

                    <p class="input-group">
                        <input type="text" placeholder="Release Date" class="form-control input-md-5" ng-click="openTimePicker($event)" datepicker-popup="{{format}}" ng-model="release.releaseDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" stop-event />
                        <span class="input-group-btn">
                         <button type="button" class="btn btn-default" ng-click="openTimePicker($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    Release Status:
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-class=" " ng-model="release.isActive" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Active</button>
                        <button type="button" class="btn btn-primary" ng-class=" " ng-model="release.isActive" btn-checkbox btn-checkbox-true="false" btn-checkbox-false="true">Deactive</button>

                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <h2> 
                    Tracklist:
                    </h2> deatachedList {{deatachedList}}
                    <hr /> assignedList : {{assignedList}}
                    <hr /> dropZoneFiles: {{dropZoneFiles}}
                </div>
                <div class="col-md-12">

                    <button type="button" ng-click="addNewTrack()" class="col-md-12 btn btn-info btn-s">
                        Add New Track
                    </button>

                </div>

                <div class="col-md-12">
                    <ul data-as-sortable="dragControlListeners" data-ng-model="release.Tracks">
                        <li data-ng-repeat="track in release.Tracks" data-as-sortable-item>
                            <div data-as-sortable-item-handle>
                                <span class="labelPosition ng-binding">{{$index+1}}</span>
                                <div class="trackPosition">
                                    <span ng-if="track.path != null">
                                    This track has a file associated.
                                    <a ng-click="deatach($index)">Deatach</a>
                                    </span>
                                    <span ng-if="track.path == null">
                                    {{track.path}}
                                    This track doesn't have a file
                                    <a ng-click="uplaodSingleTrack($index) ">Upload</a> or
                                    <!-- Button trigger modal -->
<div  class="btn btn-primary " ng-click="selectFromDropZone(track) " data-toggle="modal" data-target="#myModal"
>
 Select from<br /> Dropzone
</div>
                                </span>
                                </div>

                                <div class="col-md-3 col-md-offset-1 ">
                                    Title:
                                    <input id="trackTitle " name="trackTitle " type="text " ng-model="track.title " value="{{track.title}} " placeholder="Track Title " class="form-control " stop-event> Version:
                                    <input id="trackTitle " name="trackVersion " type="text " ng-model="track.version " value="{{track.version}} " placeholder="Track Version " class="form-control " stop-event>
                                </div>
                                <div class="col-md-4 ">
                                    Artists:
                                    <span ng-repeat="producer in track.Producer ">{{producer.displayName}}, </span>
                                    <br /> Remixers:
                                    <span ng-repeat="remixer in track.Remixer "> {{remixer.displayName}}, </span>
                                </div>
                                <div class="col-md-4 ">
                                    Genre:
                                    <br /> ISRC:
                                    <input id="trackTitle " name="trackTitle " type="text " ng-model="track.ISRC " value="{{track.ISRC}} " placeholder="Track ISRC " class="form-control " stop-event>
                                    <a ng-click="editTrack(track.id) ">Edit</a>

                                </div>

                                <!--
                                <table class="col-md-12 table table-striped table-bordered ">

                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{track.title}}</td>
                                        <td>{{track.version}}</td>
                                        <td><span ng-repeat="producer in track.Producer ">{{producer.displayName}}, </span> </td>
                                        <td><span ng-repeat="remixer in track.Remixer "> {{remixer.displayName}}, </span> </td>
                                        <td> <a ng-click="editTrack(track.id) ">Edit</a>
                                        </td>
                                    </tr>
                                </table>
                                -->
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div ng-show="editedTrack !=null " class="row ">
                <div class="col-md-12 ">
                    <h2>Edit Track  </h2>
                </div>

                <div class="col-md-12 bs-callout-warning ">
                    <hr />
                    <!-- Text input-->
                    <div class="form-group col-md-6 ">
                        <label class="col-md-3 control-label " for="trackTitle ">Track Title</label>
                        <div class="col-md-9 ">
                            <input id="trackTitle " name="trackTitle " type="text " ng-model="editedTrack.title " value="{{editedTrack.title}} " placeholder="{{editedTrack.title}} " class="form-control input-md " stop-event>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group col-md-6 ">
                        <label class="col-md-3 control-label " for="versionName ">Version Name</label>
                        <div class="col-md-9 ">
                            <input id="versionName " name="versionName " type="text " ng-model="editedTrack.version " value="{{editedTrack.version}} " placeholder="{{editedTrack.version}} " class="form-control input-md " stop-event>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 bs-callout-info ">
                    <hr />

                    <div class="col-md-12 ">

                        <input name="input " ng-model="searchArtistField " ng-change="searchArtist() " placeholder="Search For Artist " class="form-control input-md " stop-event>

                        <p>
                            <br />
                            <span ng-show="isSearching ">
                            Status:  <i class="fa fa-circle-o-notch fa-spin "></i>
                        </span>
                            <span ng-show="!isSearching && searchArtistResults.length==0 "> 
                            <i class="fa fa-times "> Name Not Available</i>
                            <button ng-click="addArtist() " class="btn btn-primary btn-xs ">Create New Artist</button>
                        </span>

                        </p>
                        <table ng-show="searchArtistResults.length> 0 && !isSearching" class="table">
                            <thead>
                                <th> Artist Id </th>
                                <th> Name </th>
                                <th> Action </th>
                            </thead>
                            <tbody ng-repeat="artist in searchArtistResults">
                                <tr>
                                    <td>{{artist.id}}</td>
                                    <td>{{artist.displayName}}</td>
                                    <td>
                                        <button ng-click="addAsProducer(artist)" class="btn btn-primary btn-xs">Add as Producer</button>
                                        <button ng-click="addAsRemixer(artist)" class="btn btn-primary btn-xs">Add as Remixer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="form-group col-md-6">

                        <table class="table">
                            <thead>
                                <th> Producer Id </th>
                                <th> Producer </th>
                                <th> Edit </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="producer in editedTrack.Producer">
                                    <td>{{producer.id}}</td>
                                    <td>{{producer.displayName}}</td>
                                    <td>
                                        <button ng-click="deleteProducer(producer)" class="btn btn-primary btn-xs">Delete Producer </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="form-group col-md-6">

                        <table class="table">
                            <thead>
                                <th> Remixer Id </th>
                                <th> Remixer </th>
                                <th> Edit </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="remixer in editedTrack.Remixer">
                                    <td>{{remixer.id}}</td>
                                    <td>{{remixer.displayName}}</td>
                                    <td>
                                        <button ng-click="deleteRemixer(remixer)" class="btn btn-primary btn-xs">Delete Remixer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr />
                </div>

            </div>
            <div class="col-md-12">
                <button ng-show="addMode" type="button" ng-click="createRelease()" class="col-md-6 btn btn-info btn-s">
                    Create
                </button>
                <button ng-show="!addMode" type="button" ng-click="saveRelease()" class="col-md-6 btn btn-success btn-s">
                    Save
                </button>
                <button type="button" ng-click="getRelease()" class="col-md-6 btn btn-danger btn-s">
                    Cancel
                </button>
            </div>

        </div>
    </div>

</div>
