<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 bs-callout bs-callout-warning">
         	<h2>Admin Artists</h2>
          	<hr />
          	<h4> Create Artist </h4>
	        <div class="form-group">
				
				<div class="col-md-4">
					<input name="input" ng-model="searchArtistField" ng-change="searchArtistsAvailability()" placeholder="Artist Name" class="form-control input-md">
					 
					<p> Status: {{nameAvailable}}
						<span ng-show="isSearching">
							<i class="fa fa-circle-o-notch fa-spin"></i>
						</span>
						<span ng-show="nameAvailable && !isSearching && !nameTooShort"> 
							<i class="fa fa-check"> Name Available</i>
						</span>
						<span ng-show="!nameAvailable && !isSearching && !nameTooShort"> 
							<i class="fa fa-times"> Artist already exists</i>
						</span>
						<span ng-show="nameTooShort && !isSearching">
							<i class="fa fa-times"> Name is Too Short</i>
						</span>
					</p> 
					 
					<button ng-click="addArtist()" ng-disabled="nameAvailable == false || nameTooShort == true" id="singlebutton" name="singlebutton" class="btn btn-primary">Create Artist</button>
				</div>
			</div>
		</div>
		 
		 <div ng-show="currentArtist" class="col-sm-12 bs-callout bs-callout-info">
          	<h4> Edit Artist:  {{currentArtist.displayName}} </h4>
	        <div class="form-group">
				
				<div class="col-md-4">
					<input name="input" ng-model="currentArtist.displayName" ng-change="searchForEditArtistNameAvailability()" value="{{currentArtist.displayName}}" placeholder="{{currentArtist.displayName}}" class="form-control input-md">
					 
					<p> Status: 
						<span ng-show="editIsSearching">
							<i class="fa fa-circle-o-notch fa-spin"></i>
						</span>
						<span ng-show="editNameAvailable && !editIsSearching && !editNameTooShort"> 
							<i class="fa fa-check"> Name Available</i>
						</span>
						<span ng-show="!editNameAvailable && !editIsSearching && !editNameTooShort"> 
							<i class="fa fa-times"> Name Not Available</i>
						</span>
						<span ng-show="editNameTooShort && !editNsSearching">
							<i class="fa fa-times"> Name is Too Short</i>
						</span>
					</p> 
					 
					<button ng-click="updateArtist()" ng-disabled="editNameAvailable == false || editNameTooShort == true" id="singlebutton" name="singlebutton" class="btn btn-primary">Change Name</button>
				</div>
				<div class="col-md-4">
					<input name="input" ng-model="searchUserField" ng-change="searchUser()" placeholder="User Display Name" class="form-control input-md">
					 
					<p> Status: 
						<span ng-show="isSearching">
							<i class="fa fa-circle-o-notch fa-spin"></i>
						</span>
						{{searchUserResults.length}}						 
						<span ng-show="searchUserResults.length == 1  && !isSearching"> 
							<i class="fa fa-check"> This is a Valid User</i>
						</span>
						<span ng-show="searchUserResults.length == 0 && !isSearching"> 
							<i class="fa fa-times"> No user available with this name</i>
						</span>
						<span ng-show="searchUserResults.length > 1 && !isSearching"> 
							<i class="fa fa-times">There are {{searchUserResults.length}} users with this name</i>
						</span>
					 
						<table ng-show="searchUserResults.length > 1 && !isSearching" class="table">
						    <thead>
						    	<th> User Id </th>
						    	<th> Name </th>
						    	<th> Action </th>
						   	</thead> 
						   	<tbody ng-repeat="user in searchUserResults" > 
						  		<tr >
									<td>{{user.id}}</td>
									<td>{{user.displayName}}</td>
									<td>
										<button ng-click="selectFromMultipleUsers(user)" class="btn btn-primary btn-xs">Select this User</button>
									</td>
						  		</tr>
							</tbody>
						</table>

						 
					</p> 
					<button ng-click="addUserArtistAssociation()" ng-disabled="searchUserResults.length != 1 " id="singlebutton" name="singlebutton" class="btn btn-primary">Add Owner</button>
					  
				</div>
				<div class="col-md-4">
					  
					<table class="table">
				    <thead>
				    	<th> Owner </th>
				    	<th> Edit </th>
				   	</thead> 
				   	<tbody ng-repeat="owner in currentArtist.Users" > 
				  		<tr >
							<td>{{owner.id}}-{{owner.displayName}}</td>
							<td><a href="" ng-click="removeOwner(owner.id)"><i class="fa fa-times"/></a></td>
				  		</tr>
					</tbody>
				  </table>

				</div>
			</div>

			<div class="col-md-12">

					<br /> 
					<button ng-click="currentArtist = null" class="col-md-12 btn btn-primary btn-xs">
						DONE
					</button>
			</div>
		</div>
		<div class="col-sm-12 bs-callout bs-callout-success">
		 
          	<h4> Artist List </h4>
	        
			  <table class="table">
			    <thead>
			    	<th> Artist Name </th>
			    	<th> Status </th>
			   	</thead> 
			   	<tbody ng-repeat="artist in artistList" > 
			  		<tr ng-class="{false:'danger'}[artist.isActive]" >
						<td>{{artist.displayName}}</td>
						<td>
							<button class="btn btn-primary btn-xs" ng-click="editArtist(artist.id)">Edit Artist</button>
							 

						</td>
			  		</tr>
				</tbody>
			  </table>
        </div>
      </div>
    </div>
  </div>
</div>