<div class="container">
    <div class="row">
        <div class="loginBubble  col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <h2 class="montserrat text-center">Log in</h2>

            <form method="post" ng-submit="login()" name="loginForm">
                <div class="form-group  ">
                    <input class="text-center form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
                </div>

                <div class="form-group  ">
                    <input class="text-center form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>

                </div>

                <button type="submit" ng-disabled="loginForm.$invalid" class="col-xs-12 montserrat text-center buttonStyle btn-login">Log in</button>

                <br/>

                <p class="text-center">
                    <a href="#">Forgot your password?</a>
                </p>

                <p class="text-center text-muted">
                    <small>Don't have an account yet? <a href="/#/signup">Sign up</a></small>
                </p>

            </form>
            <hr />
            <h2 class="montserrat linedTitle text-center">Log in with Social</h2>
            <div class="row row-centered">
                <button class="col-xs-1 col-centered quicksandFont text-center-forced roundedButtonStyle btn-facebook " ng-click="authenticate('facebook')">
                    <i class="fa fa-facebook-square"></i>
                </button>

                <button class="col-xs-1  col-centered quicksandFont text-center-forced roundedButtonStyle btn-twitter " ng-click="authenticate('twitter')">
                    <i class="fa fa-twitter"></i>
                </button>
                <button class="col-xs-1  col-centered quicksandFont text-center-forced roundedButtonStyle btn-google-plus " ng-click="authenticate('googleplus')">
                    <i class="fa fa-google-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
