 <!-- offset row negative padding -->
    
    <div class="mainContainer">
      <div class="row">
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>
        <div class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="releaseTile">
            <div class="coverRelease">
              <img class="coverImage" src="http://placehold.it/500x500" />
            </div>
            <div class="quicksandFont700 descriptionRelease"> 
              This is the text
            </div>

          </div>
        </div>

      </div>
    </div>
 
 