

<div class="container ">


<div class="row">
    <h2 class="text-center">Your Profile</h2>

    <!-- FIRST COLUMN -->
    <div class="displayFlex">
      <div  class="equalHWrap eqWrap tileHomeOneSize col-xs-12 col-sm-6 col-md-3 col-lg-3">
         <div class="flexColumn profilePictureHolder"> 
            <div ng-show="uploader.isHTML5">
               
                <div nv-file-drop="" uploader="uploader"  >
                    <div nv-file-over="" uploader="uploader" style="background-image: url('{{serverURL}}/images/{{user.avatar}}')" over-class="my-drop-zone-over-class" class="well my-drop-zone">


                          <div class="dragAndDropProfilePictureButton"> Drag and drop <br />or<br /> 
                          <label class="myLabel">
                              <input type="file" nv-file-select="" uploader="uploader"/>
                              <span>Upload</span>
                          </label>
                  
                                       
                          </div> 
                    
                    </div>
                </div>
              </div>
            <h4 class="text-center">{{user.displayName}}</h4>
         </div>
      </div>
      <!-- PROFILE DETAILS -->
      <div  class="tileHomeOneSize col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="roundedCorner5 white padding15 ">
          profile details
        </div>
      </div>
      <!-- SOCIAL DETAIL -->
      <div  class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="roundedCorner5 white padding15 ">
          <div class="text-center"> Connect Social </div>
        </div>
      </div>
    </div>
</div>

<!--- Company List -->
<div ng-if="user.isAdmin">
  <h3> Your Companies </h3>
   
  <div class="row">
  <div ng-repeat="company in companies" class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <a href="/#/adminCompany/{{company.id}}"> 
  <div class="releaseTile">
  <div class="coverRelease">

          <img class="coverImage"    />
        </div>
        <div class="quicksandFont700 descriptionRelease text-center"> 
          {{company.displayName}} 
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

<div ng-if="user.isAdmin || companies.length > 0">
  <h3> Your Labels </h3>
  <div class="row">
    <div ng-repeat="label in labels" class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <a href="/#/adminCompany/{{label.id}}"> 
      <div class="releaseTile">
        <div class="coverRelease">

          <img class="coverImage"    />
        </div>
        <div class="quicksandFont700 descriptionRelease text-center"> 
          {{label.displayName}} 
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

 

<div ng-if="user.isAdmin || artists.length > 0" >
  <h3> Your Managed Artists </h3>
  <div class="row">
    <div ng-repeat="artist in artists" class="tileHomeOneSize col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <a href="/#/adminArtist/{{artist.id}}"> 
      <div class="releaseTile">
        <div class="coverRelease">
          <img class="coverImage"/>
        </div>
        <div class="quicksandFont700 descriptionRelease text-center"> 
          {{artist.displayName}}
        </div>
      </div>
    </a>
    </div>
  </div>
</div>


 
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
             
          </div>
          <div class="col-md-4"  >
            <form method="post" ng-submit="updateProfile()">
              <div class="form-group">
                <label class="control-label"><i class="ion-person"></i> Display Name</label>
                <input type="text" class="form-control" ng-model="user.displayName" />
              </div>
              <div class="form-group">
                <label class="control-label"><i class="ion-at"></i> Email Address</label>
                <input type="email" class="form-control" ng-model="user.email" />
              </div>
            </form>
          </div>
          <div class="col-md-4"  >
             <div class="form-group">
                <label class="control-label"><i class="ion-person"></i> Slinka Linka </label>
                 
              </div>
          </div>


        </div>
         <div class="panel-heading">
           <button class="col-md-12 btn btn-lg btn-success">Update Information</button>


         </div>
         
    

        <!--
        <div class="row">

                <div class="col-md-3">

                    <h3>Select files</h3>

                     
                    Multiple
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

                    Single
                    <input type="file" nv-file-select="" uploader="uploader" />
                </div>

                <div class="col-md-9" style="margin-bottom: 40px">

                    <h3>Upload queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>

            </div>
        -->

    </div>
  </div>
 

 <!--
  <div ng-if="user.isAdmin" class="panel panel-default">
    <div class="panel-heading">Admin Panel</div>
    <div class="panel-body">
      <div class="col-md-4">
        <legend><i class="ion-link"></i><a href="/#/adminCompanies"> Manage Companies</a></legend>
      </div>
      <div class="col-md-4">
        <legend><i class="ion-link"></i><a href="/#/adminLabels"> Manage Labels</a></legend>
      </div>
       <div class="col-md-4">
        <legend><i class="ion-link"></i><a href="/#/adminArtists"> Admin Artists</a></legend>
      </div>
    </div>
  </div>

  <div ng-if="user.isAdmin || companies.length > 0" class="panel panel-default">
    <div class="panel-heading">Your Companies</div>
    <div class="panel-body">
      <div class="col-md-4" ng-repeat="company in companies">
            <i class="ion-link"></i><a href="/#/adminCompany/{{company.id}}"> {{company.displayName}}</a>
      </div>
 
    </div>
  </div>
   

  <div ng-if="user.isAdmin || companies.length > 0" class="panel panel-default">
    <div class="panel-heading">Your Labels</div>
    <div class="panel-body">
      <div class="col-md-4" ng-repeat="label in labels">
            <i class="ion-link"></i><a href="/#/adminLabel/{{label.id}}"> {{label.displayName}}</a>
      </div>
 
    </div>
  </div>

  <div ng-if="user.isAdmin || artists.length > 0" class="panel panel-default">
    <div class="panel-heading">Your Managed Artists</div>
    <div class="panel-body">
      <div class="col-md-4" ng-repeat="artist in artists">
            <i class="ion-link"></i><a href="/#/adminArtist/{{artist.id}}"> {{artist.displayName}}</a>
      </div>
 
    </div>
  </div>
-->

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="ion-social-facebook"></i> Link Facebook Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
          <i class="ion-social-googleplus"></i> Unlink Google Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
          <i class="ion-social-googleplus"></i> Link Google Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.linkedin" ng-click="unlink('linkedin')">
          <i class="ion-social-linkedin"></i> Unlink LinkedIn Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.linkedin" ng-click="link('linkedin')">
          <i class="ion-social-linkedin"></i> Link LinkedIn Account
        </button>
      </div>
       <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.twitter" ng-click="unlink('twitter')">
          <i class="ion-social-twitter"></i> Unlink Twitter Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.twitter" ng-click="link('twitter')">
          <i class="ion-social-twitter"></i> Link Twitter Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.github" ng-click="unlink('github')">
          <i class="ion-social-github"></i> Unlink GitHub Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.github" ng-click="link('github')">
          <i class="ion-social-github"></i> Link GitHub Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.foursquare" ng-click="unlink('foursquare')">
          <i class="ion-social-foursquare"></i> Unlink Foursquare Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.foursquare" ng-click="link('foursquare')">
          <i class="ion-social-foursquare"></i> Link Foursquare Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.yahoo" ng-click="unlink('yahoo')">
          <i class="ion-social-yahoo"></i> Unlink Yahoo Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.yahoo" ng-click="link('yahoo')">
          <i class="ion-social-yahoo"></i> Link Yahoo Account
        </button>
      </div>
    </div>
  </div>
</div>
