
   
    <div class="container-fluid space-above_sm-2">
	  <div class="branded-list branded-list-skin_top-ten">
	    <div class="row">
	      <div class="col-xs-5 col-sm-3">
	        <div class="branded-list--content-wrapper">
	          <div class="branded-list--image audio-control audio-control_large" data-ember-action="4608">
	            <span class="icon-play-white audio-control--icon"></span>
	            <img alt="PulseChart Banner" class="pull-left" src="images/collectionSamplePackCover.jpg" >

	          </div>
	   
	        </div>
	      </div>
	      <div class="col-xs-7 col-sm-9">
	        <div class="branded-list--title-wrapper">
	          <h2 class="branded-list--title"> SPHERA RECORDS <br />SAMPLES PACKS </h2>
	        
	        </div>
	      </div>
	      <div class="col-xs-12 space-above_1  
	        branded-list--description_at-small">
	        <p class="line-height_14 text-16">
	         The Full collection of 3 samples pack at an exclusive price.
             <br />Over 1GB and more 500 samples spacing from house to techno carefully craft from 3 of the top Sphera Artists.

                <br /><br />

  


                        <button ng-click="setProduct(5000,'eur',1);doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="5000"
                            data-name="Sphera Sample Packs"
                            data-description="3 Boundles"
                            data-currency="eur"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy 3 Packages for 50.00 &euro;</button>

                               <button ng-click="setProduct(3500,'gbp',1);doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="3500"
                            data-name="Sphera Sample Packs"
                            data-description="3 Boundles"
                            data-currency="gbp"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy 3 Packages for 35.00 &pound;</button>

                            
                               <button    ng-click="setProduct(6500,'usd',1); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="6500"
                            data-name="Sphera Sample Packs"
                            data-description="3 Boundles"
                            data-currency="usd"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy 3 Packages for 65.00 &dollar;</button>

 
	        </p>
	      </div>
	      <div class="col-xs-12 col-sm-8">

<hr />
<br />

<h2> Buy single pack: </h2>
<br />


<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
         <img class="intrinsic-ratio--cropped audio-control--art" src="images/samplePacks/003.jpg" data-bindattr-4758="4758">
        </div>
        <div class="col-md-8">
             <span class="list-player--title">Tech House Framents Vol 1</span>
              <span class="list-player--mix-name">by Jorge Montia</span>
            <br />
                  A new refreshing Library from the Spanish tech house top producer. 
                Old school house grooves and floor stomper tech house fills will easily find space in your next hit.

                <br />
                Including: 30 Bass,15 Extra Sounds, 15 Fx, 40 Groove Loops, 30 Music Loops, 30 Percussions, 50 Top Loops, 12 Vocals.
                <br />
                <audio controls>
  <source src="sounds/V3.ogg" type="audio/ogg">
  <source src="sounds/V3.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>


            <br />
        </div>
        <div class="col-md-2 text-right">
          <button    ng-click="setProduct(2000,'eur',2); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="2000"
                            data-name="Tech House Framents Vol 1"
                            data-description="by Jorge Montia"
                            data-currency="eur"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy for 20.00 &euro;</button> <br />
          <button   ng-click="setProduct(2400,'usd',2); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="2400"
                            data-name="Tech House Framents Vol 1"
                            data-description="by Jorge Montia"
                            data-currency="usd"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy for 24.00 &dollar;</button> <br />
           <button    ng-click="setProduct(1400,'gbp',2); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="1400"
                            data-name="Tech House Framents Vol 1"
                            data-description="by Jorge Montia"
                            data-currency="gbp"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg" 
                            class="btn btn-info btn-large">Buy for 14.00 &pound;</button> <br />
        </div>
    </div>
    <div class="col-md-12">
       <hr />
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
         <img class="intrinsic-ratio--cropped audio-control--art" src="images/samplePacks/002.jpg" data-bindattr-4758="4758">
        </div>
         <div class="col-md-8">
             <span class="list-player--title">Balkan House Vol 1 </span>
              <span class="list-player--mix-name">by Vlada Asanin</span>
<br />
              Enjoy the journey in the east european sound brought to you by Vlada Asanin!
An exquisite mix of ethnic sounds and groovy loops ready to take your productions to the next level. Stand out and get the crowd moving.

<br />

Including: 27 Fx Shots, 8 Vox Shots, 35 Top Loops, 14 Bass Loops, 44 Balkan Groove Loops, 27 Balkan Synts, 78 Groove Loops.



        </div>
        <div class="col-md-2 text-right">
          <button   ng-click="setProduct(2000,'eur',3); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="2000"
                            data-name="Balkan House Vol 1"
                            data-description="by Vlada Asanin"
                            data-currency="eur"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy for 20.00 &euro;</button> <br />
           <button   ng-click="setProduct(2400,'usd',3); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="2400"
                            data-name="Balkan House Vol 1"
                            data-description="by Vlada Asanin"
                            data-currency="usd"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy for 24.00 &dollar;</button> <br />
            <button    ng-click="setProduct(1400,'gbp',3); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="1400"
                            data-name="Balkan House Vol 1"
                            data-description="by Vlada Asanin"
                            data-currency="gbp"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg" 
                            class="btn btn-info btn-large">Buy for 14.00 &pound;</button> <br />
        </div>
    </div>
    <div class="col-md-12">
       <hr />
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
         <img class="intrinsic-ratio--cropped audio-control--art" src="images/samplePacks/001.jpg" data-bindattr-4758="4758">
        </div>
         <div class="col-md-8">
             <span class="list-player--title">Funky House Vol 1</span>
              <span class="list-player--mix-name">by Siwell</span>

     <br />
Guaranteed to get the crowds moving with its extensive selection of funky house vibes, bouncing grooves and steely tech house beats.
This pack is bound to satisfy your deepest and darkest desires.
<br />
Including : 40 Bass Loops, 15 Funky Loops, 20 Fx Loops, 84 Groove Loops, 20 Music Loops, 20 Sample Shots, 25 Clap, 25 HiHat, 10 Kick, 16 Snares,15 Top Loops samples


        </div>
        <div class="col-md-2 text-right">
                    <button ng-click="setProduct(2000,'eur',4); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="2000"
                            data-name="Funky House Vol 1"
                            data-description="by Siwell"
                            data-currency="eur"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy for 20.00 &euro;</button> <br />
           <button ng-click="setProduct(2400,'usd',4); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="2400"
                            data-name="Funky House Vol 1"
                            data-description="by Siwell"
                            data-currency="usd"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg"
                            class="btn btn-info btn-large">Buy for 24.00 &dollar;</button> <br />
            <button ng-click="setProduct(1400,'gbp',4); doCheckoutSimple()"
                            stripe-checkout="doCheckoutSimple"
                            data-key="pk_live_2qm5jxlroBXmDBlsRUsfDpob"
                            data-amount="1400"
                            data-name="Funky House Vol 1"
                            data-description="by Siwell"
                            data-currency="gbp"
                            data-panel-label="Pay {{amount}}"
                            data-image="images/logo2015.jpg" 
                            class="btn btn-info btn-large">Buy for 14.00 &pound;</button> <br />
        </div>

    </div>
     
</div><br />
<br />


	      
	      </div>
	    </div>
	  </div>
	</div>